.form {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  width: 60vw;
  min-width: 200px;
  max-width: 400px;

  &__label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  &__input {
    outline: none;
    padding: 0.5em;
    border: 1px solid #aaaaaa;
    background-color: rgb(255 255 255);
    transition: 0.1s;
    font-size: 1.3rem;
  }
}
